* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
main{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: cornflowerblue;
    z-index: 0;
}
.ans{
    padding: 10px;
    height: 65px;
    width: 70%;
    margin-left: 15px;
    border-radius: 5px;
    border: none;
    font-size: 35px;
    color: rgb(101, 190, 162);
    background-color: rgb(38, 51, 51);
}
.container{
    padding-top: 15px;
    height: calc(100% - 95px);
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.num{
    padding-top: 20px;
    height: calc(100% - 25px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.num>div{
    display: flex;
    gap: 15px;
    
}
.num button{
    margin-left: 2px;
    height: 60px;
    width: 60px;
}
.enter{
    height: 45px;
    width: 100%;
    border-radius: 10px;
    gap: 5px;
    display: flex;
    align-items: center;
}
.enter>button{
    height: 100%;
    width: 100%;
}
button{
    font-size: 1rem;
    border-radius: 5px;
    box-shadow: 0px 0px 15px black;
    border: none;
    border-radius: 15px;
}
.design{
    border: 1px solid black;
    border-radius: 7px;
    display: flex;
    height: 25px;
    width: 80%;
    box-sizing: content-box;
    background-color: rgb(82, 70, 70);
}
.line{
    height: 1px;
    width: 29px;
    transform: rotate(90deg) translateX(12.5px);
    background-color: black;
}
h1{
    color: black;
    letter-spacing: 2px;
    font-size: 1.5rem;
}
.calc{
    padding: 20px;
    height: 500px;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 15px;
    background: cadetblue;
    border: 1px solid black;
    box-shadow: 0px 0px 10px lavender;
}
#one{
    background-color: white;
}
#result,#cancel,#dot{
    height: 100%;
}
.instructions {
  position: relative;
  font-size: 0.8rem;
  background-color: #f9f9f9;
  padding: 8px 12px;
  margin-top: 10px;
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  line-height: 1.5;
  color: #333;
}

.instructions p {
  margin: 5px 0;
  display: flex;
  font-size: 1.3rem;
  align-items: center;
  gap: 6px;
}

.instructions span {
  font-size: 1.2rem;
}
@property --val{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.instructions::before{
    content: '';
    position: absolute;
    width: 106%;
    height: 106%;
    left: -3%;
    top: -3%;
    border-radius: 10px;
    background: conic-gradient(from var(--val),transparent 0% 20%,crimson 20% 40%,transparent 40% 70%,purple 70% 90% ,transparent 90% 100%);
    filter: blur(0.5rem);
    animation: roeffect 7.5s linear infinite;
    z-index: -1;

}
.inst2 h2{
    text-align: center; 
    margin: 0px 10px; 
    font-size: 1.4rem; 
    background: linear-gradient(crimson,purple,blue);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
@keyframes roeffect {
    0%{
        --val: 0deg;
    }
    100%{
        --val: 360deg;
    } 
}